@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: darkgrey;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  display: flex;
  align-items: center;
  background-color: lightgrey;
  justify-content: space-between;
}

.left-links {
  display: flex;
  padding: 4px;
  margin: 4px;
  justify-content: flex-start;
  gap: 16px;
}

.right-links {
  display: flex;
  padding: 4px;
  margin: 4px;
  justify-content: flex-end;
  gap: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}