* {
  padding: 8px;
}

body {
  background: #eee;
  font-family: sans-serif;
  margin: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;
}

.title {
  background: #87c0e5;
  font-weight: 700;
  margin: 16px;
}

.content {
  margin: 16px;
  background: #87c0e5;
}

.button-container {
  background: #87c0e5;
  text-align: center;
  margin: 16px;
}

button {
  margin: auto;
  background: white;
  border: 1px solid #eee;
  display: block;
}